<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <context-param>
  	<description>이 설명은 개발자의 마음대로</description>
  	<param-name>email</param-name>
  	<param-value>kosa@kosa.or.kr</param-value>
  </context-param>
  <context-param>
  	<description>기본 업로드 파일 경로</description>
  	<param-name>filePath</param-name>
  	<param-value>C:\\Web\\upload</param-value>
  </context-param>
  <!--
 	전역적인 예외 처리
 	1. 상태코드 (500 서버 , 404 요청 페이지 , 403 권한(접근) ....
 	2. 상세하게 (예외  (NullPoint , IndexOut  실제 사용안한다 ...
    -->
    <!-- 
    실 배포 처리 ....^^
    <error-page>
    	<error-code>500</error-code>
    	<location>/error/Error500.jsp</location>
    </error-page>
    <error-page>
    	<error-code>404</error-code>
    	<location>/error/Error404.jsp</location>
    </error-page>
     -->
</web-app>





